header
	width: 140px
	background: white
	padding: 1px 0 30px

	.logo
		height: 135px
		margin: 2px
		background: 
			image: url(/assets/img/dhrupad-logo.gif)
			repeat: no-repeat
			position: center
			size: contain

		h1
			visibility: hidden
			margin: 0

	nav 
		ul 
			list-style: none
			margin: 20px 0
			text-align: right
			padding: 0 20px 0 0

			li 
				margin-bottom: 5px

				&:last-child
					margin-bottom: 0
	.email-link
		display: block
		text-align: right
		padding-right: 20px